@import url('https://fonts.googleapis.com/css2?family=Plus+Jakarta+Sans:wght@400;500;600;700;800&family=Poppins:wght@400;500;600;700;900&display=swap');
@import url("https://code.highcharts.com/css/highcharts.css");
:root {
  --font-family-poppins: 'Poppins', sans-serif;
  --font-family-jakarta: 'Plus Jakarta Sans', sans-serif;
  --s-regular: 400;
  --s-semi-bold: 600;
  --s-bold: 700;
  --s-semi-black: 800;
  --s-black: 900;
  --c-black: #000000;
  --c-haiti: #141332;
  --c-ebony-clay: #1D1D41;
  --c-green-haze: #02B15A;
  --c-green-haze-15: #02B15A26;
  --c-lava-red: #E41414;
  --c-lava-red-15: #E4141426;
  --c-malibu: #64CFF6;
  --c-palatinate-blue: #3427E8;
  --c-purple-blue: #6359e9;
  --c-white: #FFFFFF;
  --c-wild-blue-yonder: #8C89B4;
  --c-jasmine-purple: #9C2CF3;
  --c-ultramarina-blue: #3A6FF9;
  --g-master: linear-gradient(180deg, var(--c-jasmine-purple) 0%, var(--c-ultramarina-blue) 100%);
  --g-visa: linear-gradient(180deg, var(--c-purple-blue) 0%, var(--c-malibu) 100%);
  --g-virtual: linear-gradient(180deg, var(--c-purple-blue) 0%, var(--c-ebony-clay) 100%);
  --gap: 2.6rem
}

.highcharts-legend-item text,
.highcharts-tooltip text {
  font-size: 14px !important;
}

.highcharts-container {
  .highcharts-title {
    font-size: 2rem;
  }
  border-radius: 2rem;
  .highcharts-background {
    fill: transparent;
  }
}

.highcharts-axis-labels.highcharts-xaxis-labels text {
  font-size: 10px;
}

* {
  font-family: var(--font-family-jakarta);
  font-weight: var(--s-regular);
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

.d-flex {
  display: flex;
}

.flex-col {
  flex-direction: column;
}

.align-center {
  align-items: center;
}

.align-end {
  align-items: self-end;
}

.align-start {
  align-items: flex-start;
}

.justify-center {
  justify-content: center;
}

.justify-start {
  justify-content: start;
}

.justify-around {
  justify-content: space-around;
}

.justify-between {
  justify-content: space-between;
}

.justify-evenly {
  justify-content: space-evenly;
}

.justify-end {
  justify-content: flex-end;
}

.overflow-auto {
  overflow: auto;
}

.w-100 {
  width: 100%;
}

.mw-100 {
  max-width: 100%;
}

.w-50 {
  width: 50%;
}